*.Rproj.user
*.DS_Store
*.Rhistory
*.RData
*.Ruserdata
*.csv
*.tsv
*.txt
*.png
*.svg
*.gff
*.gff3
*.h5
*.keras
*.ipynb_checkpoints
*.pyc
Py/hyperband_search_dir
Py/__pycache__
latent_interpretation/sepi_out_*
latent_interpretation/saur_out_*
latent_interpretation/core.dcc*
